* {
    text-align: center;
    font-family: 'Press Start 2P', cursive;

}

h1 {
    padding-top: 20px;
    margin: 0px 0px 20px 0px;
}

span,
.red {
    color: red;

}


button {
    background-color: rgb(83, 171, 253);
    border-radius: 5px;
    padding: 10px;
    box-shadow: 5px 5px rgb(34, 34, 34);
}

.container {

    background-image: url(.//nintendo.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 2000px;
    width: auto;
}

#info {
    display: none;
}